<div class="navbar">
 
    <a  mat-raised-button class="link" href="/login">Login</a>

    
  <mat-toolbar *ngIf="authService.isLoggedIn$ | async " color="primary">
      <button  class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Managment View</span>
       <a mat-raised-button class="link" href="">Home</a>
        <a mat-raised-button class="link" href="/movie">Movie</a>
  
        <a mat-raised-button class="link" href="/theatre">Theatre</a>
        <a  mat-raised-button class="link" href="/presentation">Presentation</a>

    </mat-toolbar>
    
   </div>
  
  <router-outlet></router-outlet>
  