<h2 mat-dialog-title *ngIf="reviews">Reviews <span class="stars-icon">{{getStarStringAvg(reviews)}}</span></h2>
<mat-dialog-content class="mat-typography">
    <div class="review" *ngFor="let review of reviews">
        <p class="title">{{review.name}}&nbsp;&nbsp;&nbsp;<span
                class="stars-icon">{{getStarString(review.rating)}}</span></p>
        <p class="review-text">{{review.review}}</p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>close</button>
</mat-dialog-actions>