<h1 mat-dialog-title>Add Theatre Form</h1>

<div mat-dialog-content>
    <form [formGroup] ="theatreForm">
        
    <mat-form-field appearance="outline">
        <mat-label>
            Features
        </mat-label>
        <input formControlName="features" matInput placeholder="Features"/>

    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>
            Number of Seats in a Row
        </mat-label>
        <input formControlName="colSeats" matInput placeholder="5"/>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>
            Number of Seat rows
        </mat-label>
        <input formControlName="rowSeats" matInput placeholder="5"/>
    </mat-form-field>
    </form>
</div>

<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close >Close</button>
    <button class="svnBtn" mat-raised-button color="primary" (click)="addTheatre()">{{actionBtn}}</button>

</div>