<h1 mat-dialog-title>Add Presentation</h1>

<div mat-dialog-content>
    <form [formGroup] ="presentationForm">
     
        <h4>Movie Selection</h4>
        <mat-form-field appearance="fill">
          <mat-label>Movie</mat-label>
          <mat-select formControlName="movie" required="true">
            <mat-option *ngFor="let movie of Movies" [value]="movie">
              {{movie.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <h4>Hall Selection</h4>
        <mat-form-field appearance="fill">
          <mat-label>Cinema Halls</mat-label>
          <mat-select  formControlName="hallID" required="true">
            <mat-option *ngFor="let hall of Halls" [value]="hall.ID">
              {{"Hall ID " + hall.ID + ", seats: " + hall.numSeats +", features: " + hall.features}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <h4>Time Selection</h4>

        <mat-form-field appearance="fill">
            <mat-label>From Date</mat-label>
            <input matInput type="datetime-local" name="date" formControlName="date">
        </mat-form-field>
    </form>

</div>

<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close >Close</button>
    <button class="svnBtn" mat-raised-button color="primary" (click)="addPresentation()">{{actionBtn}}</button>
</div>