  <router-outlet></router-outlet>


    <div class="container">
      <span class="example-spacer" >
        <button mat-raised-button color="warn">Add Presentation</button>
      </span>
    <div style="margin-top: 10px">

    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search.." #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- displayedColumns: string[] = ['MovieID','MovieTitle' 'Date', 'HallID', 'edit']; -->

        <!-- InputBox MovieID-->
        <ng-container matColumnDef="MovieID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> MovieID </th>
          <td mat-cell *matCellDef="let row"> {{row.movie.ID}}</td>
        </ng-container>
        
        <!-- Name Column -->
        <ng-container matColumnDef="MovieTitle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> MovieTitle </th>
          <td mat-cell *matCellDef="let row"> {{row.movie.name}} </td>
        </ng-container>
    
    
        <!-- Progress Column -->
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
          <td mat-cell *matCellDef="let row"> {{row.start}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="HallID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> HallID </th>
          <td mat-cell *matCellDef="let row"> {{row.ID}} </td>
        </ng-container>
    
     
    
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row">
           

            <button mat-icon-button color="warn" (click)=
            "deletePresentation(row.ID)">
              <mat-icon> delete </mat-icon>
            </button> 
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>

  </div>

  
</div>
