<div class="container">
    <h2 mat-dialog-title>Write a review</h2>
    <mat-dialog-content class="mat-typography">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Review</mat-label>
                <textarea matInput #message maxlength="256" cols="35" rows="8" placeholder=""
                    class="input-txt"></textarea>
                <mat-hint align="start"><strong>Write your review here.</strong> </mat-hint>
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
            </mat-form-field>
            <star-rating-control (starClickChange)="test($event)" [rating]="0"></star-rating-control>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>close</button>
        <button mat-button mat-dialog-close color="warn" (click)="submitReview(message.value)"
            [disabled]="(message.value.length > 0 && stars)?null:''">Submit</button>
    </mat-dialog-actions>
</div>