<!--
<h2 mat-dialog-title *ngIf="ticketString">QRCode</h2>



<mat-dialog-content class="mat-typography" *ngIf="ticket">
    <p>{{ticket.movieName}}</p>
    <div class="qrcode" *ngIf="ticketString">
        <qrcode [qrdata]="ticketString" [width]="256" [errorCorrectionLevel]="'M'" [elementType]="'svg'" [margin]="1"
            [width]="200">
        </qrcode>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>close</button>
</mat-dialog-actions>
-->
<!--https://www.npmjs.com/package/angularx-qrcode-->

